dotenv
openai
pandas
scikit-learn
git+https://github.com/jacobgil/confidenceinterval.git
numpy
nervaluate
bs4
spacy # After installing requirements, run `python -m spacy download en_core_web_sm`
seaborn
matplotlib
transformers # Dont forget to get access to the models and log in via `huggingface-cli login`
torch
deepspeeds